<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="styles.css" />
</head>
<body>
    <main>
        <h1>Users</h1>

        <p>Here's a list of users:</p>

        <ul>
            <li>Annabel</li>
            <li>Bart</li>
            <li>Chris</li>
            <li>Dave</li>
            <li>Elise</li>
            <li>Froukje</li>
        </ul>
    </main>
</body>
</html>